
<h1 class="card bg-success text-white">Home page</span></h1>

            <!-- /.row -->
<div class="container-fluid">
<div class="row ">
    <div class="col col-sm-5">
        <div class="panel panel-primary">
         <div class="panel-heading" style="background-color:orange">Quick View</div>
            <div class="panel-body btn-group-lg">
                <a class="btn btn-primary menu-button" asp-controller="Purchase" asp-action="Index">Purchase</a>
                <a class="btn btn-primary menu-button" asp-controller="Sale" asp-action="Index" >View Sale</a>
                <a class="btn btn-primary menu-button" asp-controller="DailyStock" asp-action="Index">View Daily Stock</a>
                <hr>
            </div>
         </div>
         <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:orange">Quick Manage</div>
            <div class="panel-body btn-group-lg">
                <a class="btn btn-primary menu-button" asp-controller="Purchase" asp-action="New">Purchase</a>
                <a class="btn btn-primary menu-button" asp-controller="Sale" asp-action="New" >Sale Stocks</a>
                <a class="btn btn-primary menu-button" asp-controller="DailyStock" asp-action="New">Add Daily Stock</a>
            <hr>
            
         </div>
         </div>
 <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:orange">Quick Records</div>
            <div class="panel-body btn-group-lg"></div>
                <a class="btn btn-primary menu-button" asp-controller="Receipt" asp-action="Index">Customers Payment Record</a>
                <a class="btn btn-primary menu-button" asp-controller="Payment" asp-action="Index" >Supplier Payment Records</a>
               
                <hr>
                
            </div>
        </div>
    </div>
        </div>
        
     </div>
</div>